.App {
  text-align: center;
  background-color: #7d7d7d;
  height: 100vh;
}

.bttn {
  width: 200px;
  height: 115px;
  font-size: large;
  display: wrap;
  margin: 20px;
}

.green {
  background-color: green;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.cyan{
  background-color: cyan;
}

.purple{
  background-color: purple;
}